

#ex_employee_info .inside{
    padding: 0;
    margin: 0;
}
.ex_tab_container {
    position: relative;
    background: #303f9f;
    color: #fff;
    font-size: 20px;
  }

.ex_tab_container .grid {
    list-style: none;
  }
  
 .ex_tab_container .gc {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: top;
  }
  
 .ex_tab_container .gc--1-of-3 {
    width: 33.33333%;
  }
  
 .ex_tab_container .gc--2-of-3 {
    width: 66.66666%;
  }
  
 /* .ex_tab_container .naccs {
    position: relative;
    max-width: 900px;
    margin: 100px auto 0;
  } */
  
 .ex_tab_container .naccs .menu div {
    padding: 15px 20px 15px 40px;
    margin: 5px;
    color: #303f9f;
    background: #3f51b5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
 .ex_tab_container .naccs .menu div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.ex_tab_container .naccs .menu div span {
    color: #fff !important;
}

 .ex_tab_container .naccs .menu div span.light {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 24px;
    left: 15px;
    background-color: #fff;
    border-radius: 100%;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }

.ex_tab_container .naccs .menu {
    padding: 0 ;
  }
  
 .ex_tab_container .naccs .menu div.active span.light {
    background-color: #fbc02d;
    left: 0;
    height: 100%;
    width: 3px;
    top: 0;
    border-radius: 0;
  }
  
 .ex_tab_container .naccs .menu div.active {
    color: #fbc02d;
    padding: 15px 20px 15px 20px;
  }
  
.ex_tab_container ul.nacc {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
.ex_tab_container ul.nacc li {
    opacity: 0;
    transform: translateX(50px);
    position: absolute;
    list-style: none;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
.ex_tab_container ul.nacc li div{
  padding: 20px !important;
}

  
.ex_tab_container ul.nacc li div label{
  width: 150px !important;
  display: inline-block;
}
  
.ex_tab_container ul.nacc li div input,
.ex_tab_container ul.nacc li div select{
  padding: 5px 10px;
  width: 450px !important;
}



.ex_tab_container ul.nacc li.active {
    transition-delay: 0.3s;
    z-index: 2;
    opacity: 1;
    transform: translateX(0px);
  }
  
.ex_tab_container ul.nacc li p {
    margin: 0;
  }